<head>
  <title>MafiaCards</title>
</head>

<body>
	{{>MafiaCards}}
</body>

<template name="MafiaCards">
	{{#if inSession}}
		<h2>Mafia!</h2>
		{{> town}}
	{{else}}
		{{> Phase1}}
	{{/if}}
</template>

<template name="Phase1">
	<p id="msg">Enter the number of players to add: </p>
	<input type="number" id="totalNum" ><br /><br /><button id="btnGetNameFields">add</button>
	<br />
	<!-- {{form_changed}} -->
	{{#each player}}
		<p>Name of Player{{this.playerNum}}:</p>
		<input type="text" class="pName" id="{{this._id}}" placeholder={{this.name}}>
		<button class="delete">delete</button>
		<br />
	{{/each}}
	<hr />
	<button id="btnSubmit">New Game</button>
</template>


<template name="town">
	<div class="cardCaptor">
	{{#each inPlayer}}
		<div class="flip-container" style="padding: 5px;">
		
		<div class="flipper">
			<div class="front">
				<h1>{{this.name}}</h1>
			</div>
			<div class="back">
				<img src={{this.img}}>
			</div>
		</div>

		</div>
	{{/each}}
	</div>
	
<!-- 	<div class="cardCaptor">
	{{#each outPlayer}}
		<div class="flip-container" style="padding: 5px;">
		<div class="flipper">
			<div class="front">
				<img src="/image/mafia.png">
			</div>
			<div class="back">
				<h1>{{this.name}}</h1>
			</div>
		</div>
		</div>
	{{/each}}
	</div> -->
</template>